version: "3.9"

services:
  school-web:
    container_name: school-web
    build:
      context: .
    ports:
      - "9000:9000" # <--- expose to localhost
    volumes:
      - .:/var/www
      - /var/www/node_modules  # <--- Add this!
    command: php artisan serve --host=0.0.0.0 --port=9000
    networks:
      - default
      - database

networks:
  database:
    external: true
    name: local-database-network